.bg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipe-action__leading {
  background-color: dodgerblue;
  color: white;
  margin-bottom: 2rem;
}

.swipe-action__trailing {
  background-color: crimson;
  color: white;
  margin-bottom: 2rem;
}

.swipeable-list .swipe-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  text-align: right;
}
